.advantages.section
  ._wrap.wrap.wrap_full-hight
    ._descr
      .title.line Our Advantages      
      ._list
        ._item
          ._item-title
            +svg('pencil', 'advantages-svg')
            | Hight Quality
          ._item-descr We make cool project and is always responsible for the quality of the product
        ._item
          ._item-title
            +svg('ruler', 'advantages-svg')
            | UX design
          ._item-descr We create only selling design
        ._item
          ._item-title
            +svg('truck', 'advantages-svg')
            | To end
          ._item-descr We accompany the project until the end
        ._item
          ._item-title
            +svg('watch', 'advantages-svg')
            | Dates of operation
          ._item-descr Our team is ready to perform the mast complex projects in a shart time
        ._item
          ._item-title
            +svg('glasses', 'advantages-svg')
            | The best minds
          ._item-descr In our team the best creative minds
        ._item
          ._item-title
            +svg('diamond', 'advantages-svg')
            | Qualuity assurance
          ._item-descr We can say with responsibility that our design will bring you the money