.project.section
  ._wrap.wrap.wrap_full-hight
    include ../common-elements/header/header
    ._descr
      .title.line Our Projects       
      ._list
        ._item 
          ._item-text Auto Path:
            span._item-text.-light lending
          ._img

        ._item 
          ._item-text Auto Path:
            span._item-text.-light lending
          ._img

        ._item 
          ._item-text Auto Path:
            span._item-text.-light lending
          ._img

        ._item 
          ._item-text Auto Path:
            span._item-text.-light lending
          ._img
            
      button(type='submit')._btn.btn See all projects
        +svg('down-arrow', 'project-svg')
    include ../common-elements/footer/footer