.footer.section
  ._wrap.wrap
    ._box-lang
      a(href="#", title="title")._lang.-active Eng
      a(href="#", title="title")._lang Rus
    ._info
      ._text scroll down
      ._follow 
        a(href="#", title="title")._follow-link
          +svg('vk', 'footer-svg')
        a(href="#", title="title")._follow-link
          +svg('fb', 'footer-svg')
        a(href="#", title="title")._follow-link
          +svg('twitter', 'footer-svg')
