.contact-us.section
  ._wrap.wrap.wrap_full-hight
    ._descr
      .contact
        .title.line contact
        ._text Tel.
        ._call-back
          a(href="tel:}+34661959574", title="title")._num
            | +38(067) 
            span._num.-darken 661-95-95
          a(href="tel:}+34661959574", title="title")._num
            | +38(067) 
            span._num.-darken 661-95-95
      form(action="#" method="POST").form
        ._title Call back?
        ._item 
          input(type="text" id="1" placeholder="First name" required)._input
          label(for="1")._label
        ._item 
          input(type="tel" id="2" placeholder="Phone" required)._input
          label(for="2")._label
        ._item 
          input(type="email" id="3" placeholder="Mail" required)._input
          label(for="3")._label

        button(type='submit').btn.-big.-contact Send

    