.central.section
  ._wrap.wrap.wrap_full-hight
    include ../common-elements/header/header
    ._descr
      ._title.title Design <br>         
        span._title-text Studio
      ._subtitle design that brings the money
    include ../common-elements/footer/footer
    