.central {
  background: url(img/unknown.png)no-repeat center/cover;

  &__descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
  }

  &__title {
    font-size: 95px;
  }

  &__title-text {
    padding: 0 0 0 130px;
  }

  &__subtitle {
    color: $lighten;
    font-size: 35px;
    max-width: 275px;
    margin: 0 0 0 70px;
    position: relative;
    transform: translateY(-50px);

    &:before {
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      background: $lighten;
      left: -110px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}