.about.section
  ._wrap.wrap.wrap_full-hight
    include ../common-elements/header/header
    ._descr
      .title.line About Us       
      ._text 
        p._text-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, at earum nemo repellat hic atque iure facere enim quisquam distinctio odio nulla harum nisi blanditiis. Modi rerum quisquam nisi hic repudiandae architecto voluptate laudantium nemo, quaerat asperiores, sit esse perferendis tempore reprehenderit nihil, culpa dolores ipsa. Molestiae assumenda officiis dignissimos laborum beatae aspernatur vitae ea, asperiores suscipit! 
        p._text-paragraph Perferendis commodi accusamus hic perspiciatis odit expedita sint totam ad exercitationem deleniti neque quasi laudantium beatae atque sit eos recusandae voluptas nostrum distinctio, impedit tempore. Aperiam dolore non rerum fuga debitis. Perspiciatis facilis, dicta officia laborum impedit veniam ab! Nihil accusantium praesentium.
      button(type='submit').btn.-big.-about Reade more
    include ../common-elements/footer/footer