.company.section
  ._wrap.wrap.wrap_full-hight
    ._descr
      ._text Company        
      ._title.title BrackingTag
      ._info.line
        ._info-text We make 
          span cool Designs
        button(type='submit').btn.-big Contact Us