.header.section
  ._wrap.wrap
    ._logo.logo
      | Bracking
      span._logo.logo_lighter Tag
    nav._nav.nav
      a(href="#", title="title")._nav-link.-active Home
      a(href="#", title="title")._nav-link Company
      a(href="#", title="title")._nav-link About Us
      a(href="#", title="title")._nav-link Advantages
      a(href="#", title="title")._nav-link Project
      a(href="#", title="title")._nav-link Contact
    ._call-back
      a(href="tel:}+34661959574", title="title")._num
        | +38(067) 
        span._num.-darken 661-95-95
      button.btn Call back
